page-home {
  .title{
    color:#FFFFFF;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
  }
}
