page-home {
  .title{
    color:#FFFFFF;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }
}
